<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title>Django | {{page.title}}</title>
</head>
<body>
    <div class="container ">
        <h1>Hello World!This is from HTML</h1>
        <h2>My name is {{name}}</h2>
        <p>This is all about me {{data.about|truncatechars:100}}</p>

    </div>

    
</body>
</html>
